= simple_form_for [category, product, review] do |f|
  - if review.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %button.close{type: "button", :'data-dismiss' => "alert", :'aria-hidden' => "true"} x
      %ul
        - review.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.text_area :content, placeholder: "Content", class: "form-control form-control-inline"
    = f.input :rating, collection: 1..5, placeholder: "Rating", input_html: {class: "form-control form-control-inline"}, label: false, prompt: "Rating"
  = f.submit 'Save', class: "btn btn-primary"